@charset "UTF-8";
body{
	background:	#E0E0E0;
    background-image: linear-gradient(#FFFFFF 0.5px,transparent 0),
    	linear-gradient(90deg, #FFFFFF 0.5px,transparent 0),
    	linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),
    	linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0);
    background-size:35px 35px,25px 25px,7.5px 7.5px,7.5px 7.5px;
}
.m-dl2-adj{
	margin : 0;
	padding : 0;
	width : 100%;
}
.li2 button{
	animation : flipInY;
	animation-duration: 2s;
}
#rt-book{
	width : 100%;
	height : 550px;
	position : relative;
	width : 0 auto;
	z-index: 9;
	overflow: visible;
}

.rt-page{
}

.npNav{
	background-color : #f1e8da;
	margin : 10px;
	min-height : 102px;
}
.npNav li{
	animation : flipInY;
	animation-duration: 2s;
}
.routeNav{
	height : 150px;
	margin : 10px;
	background-color : #f1e8da;
	transition : 1000ms;
}
.sdcAdjust{
	transition : 1000ms;
	background-color : #f1e8da;
	margin : 10px;
	z-index: 5
}
.imgAdjust{
	height : 100%;
	width : 100%;
}

.imgSet{
	height : 100%;
	width : 100%;
}
.sec-div{
	margin : 5px;
}
#hideElm{
	display : none;
}
.sec-div-title{
	font-size : 35px;
}
.sec-div-text{
	overflow: auto;
	max-height : 350px;
	font-size : 20px;
}