@charset "UTF-8";


.newa-ul{
	margin : 15px;
	padding : 0 25%;
	list-style-type: none;
	font-size : 25px;
}
#form-container{
}
.newAct-form{
	padding : 15px;
	height : 100%;
	width : 100%;
}
.newA-back{
	background-color: white;
	border: 3px double rgba(15,107,55,0.92);
	border-radius: 10px;
}

.new-form-head-con {
	margin : 15px;
	padding : 15px;
}
.new-form-head{
	font-size : 22.5px;
	border: 3px double rgba(15,107,55,0.92);
	border-radius: 10px;
	margin-bottom: 10px;
}
.new-form-body{
	font-size :17.5px;
	margin-bottom: 10px;
	align-items: center;
	justify-content: center;
}

.hideOP{
	display: none;
}
label.error{
	color : red;
	font-size : 15px;
}
input.valid{
	border : 1px solid green;
}
input.error{
	border : 1px solid red;
}
.showImage {
	width: 100%;
	height: 100%;
}

.extendImage {
	position: absolute;
	height : 400px;
	width : 300px;
	display: none;
	z-index: 10;
}
.newAct-img-container{
	margin : 0 20px;
	width : 15%;
}
#previewMultiple{
	display : flex;
	align-items: center;
	justify-content: center;
}

#btn-click-auto{
	margin : 10px;
	display : none;
}
#row-auto-btn{
	position : fixed;
	top : 500px;
	left : 0 px;
}
